<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>

<h1>Contact</h1>
<p>
  Contact the Bulletin board
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>
  </body>
</html>