
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | My Bulletin Board</title>
  </head>
  <body>
   <div class="center jumbotron">
  <h1>Welcome to the Bulletin board</h1>

  <h2>
    This is the home page for my
    <a href="http://www.bulletinboard.com">Bulletin board</a>
    easy access.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("BulletinBoard.jpg"),
            'http://amazon.com' %>
  </body>
</html>