<footer class="footer">
  <small>
    The Bulletin board
    by <a href="http://djones62.74@gmail.com/">Evgeny Kovalyov </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.bulletinboard/news/">News</a></li>
    </ul>
  </nav>
</footer>